html 
head
        title Peliculas guardadas
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css")
        link(rel="stylesheet", href="style.css")
body 
    div
    table(id="peliculas")
        tr
            th titulo 
            th descripcion
            th fecha
        tbody(id='pelis') 
            tr
                th jo 
                th des 
                th 09/02/2022
script.
    var data = !{JSON.stringify(data)}
    var contenido = ""
    
    for(i = 0; i < data.length; i++){
        contenido += '<tr><th>'+ data[i].titulo +'</th><th>'+ data[i].descripcion +'</th><th>'+ data[i].fechaestreno +'</th></tr>'
    }

    document.getElementById('pelis').innerHTML=contenido
