html 
head
        title Peliculas guardadas
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css")
body 
    div
    form(action="/altapelis" method="post")
        h5 Peliculas dadas de alta:
        p Titulo: Fast and furious 1 descripcion: it was when brian meets to dom in a ray day Fecha: 08/12/2001
        p Titulo: Harry Potter y el caliz de fuego descripcion: Una pelicula donde un maestro inserta el nombre de... Fecha: 05/06/2005
        button(class="w-100 btn btn-lg btn-secundary" type="submit" name="back") Regresar
