html 
head
        title Peliculas guardadas
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css")
body 
    div
    form(action="/altapelis" method="post")
        h5 Peliculas dadas de alta:
        button(class="w-100 btn btn-lg btn-secundary" type="submit" name="back") Regresar